<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
    href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Poppins:wght@200;400;500;700&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/c61f07fccb.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/index.css">
  <title>404</title>
</head>

<body>
  <style>
    #page-404 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex: 1;
      height: 90%;
    }

    a {
      text-decoration: none;
    }

    #error-code {
      font-size: 6em;
      font-weight: bold;
      text-align: center;
      background: -webkit-linear-gradient(45deg, #150fd1, #ff29a6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: linear-gradient(45deg, #150fd1, #ff29a6);

    }

    h2 {
      font-size: 1.5em;
      margin-top: -1em;
      background: -webkit-linear-gradient(45deg, #150fd1, #ff29a6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent
    }

    #footer {
      position: absolute;
      bottom: 5em;
      left: 0;
      width: 100%;
      text-align: center;
    }
  </style>

  <main id="main">
    <section id="page-404">
      <div id="questioner">
        <p><a href="/">Q</a></p>
      </div>
      <div id="error404">
        <header id="error-code">404</header>
        <h2>Page Not Found</h2>
      </div>
    </section>
    <div id="footer"><span><a href="/login">Login</a></span> | <span><a href="/signUp">Sign Up</a></span></div>

  </main>
</body>

</html>