<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Questioner | Event</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/event.css">
  <!-- Font awesome -->
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/751b3a69bc.js" crossorigin="anonymous"></script>
</head>

<style>
  .event-points li{
    list-style-type: disc;
    list-style-position: inside;
  }
  #event-actions {
    position: absolute;
    top: 0;
    right: 0.2em;
  }

  #event-actions span,
  .reply-modal-wrapper .fa-times {
    vertical-align: middle;
    background-color: #fff !important;
    font-size: 0.5em;
    border-radius: 2em;
    cursor: pointer;
    margin-right: 0.5em;
    line-height: 1.5;
    padding: 0.2em 0.5em;
    text-align: center;
  }

  .reply-modal-wrapper .fa-times {
    position: absolute;
    font-size: 1.3em;
    padding: 0.3em 0.7em;
    box-shadow: 0 5px 10px rgba(90, 65, 114, 0.285);
    right: 0.51em;
    top: 0.5em;
    z-index: 1001;
  }

  .fa-edit {
    color: rebeccapurple
  }

  .fa-trash,
  .fa-times {
    color: red;
  }

  .reply-user {
    margin-left: 1em;
    background-color: #b163ff;
    padding: 0.1em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .comment-form,
  .reply-form {
    padding: 1em;
  }

  .reply-modal {
    padding: 1em;
    position: relative;
    background-color: #fff;
    border-radius: 1em;
    width: 90%;
    max-height: 100%;
    max-width: 580px;
  }

  .reply-modal-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(42, 6, 78);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  textarea {
    border: 2px solid rebeccapurple;
    display: block;
    margin: 1em 0;
    padding: 0.5em;
    resize: vertical;
    width: 96%;
    max-width: 768px;
  }

  .hidden {
    display: none;
  }

  .shown {
    display: flex;
  }

  .image-gallery {
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 300px; */
    /* padding: 0.5em; */
    margin: 1em auto;
    max-width: 498px;
  }

  #nav-right,
  #nav-left {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    cursor: pointer;
    background-color: #000;
    border-radius: 1em;
    margin: 0 0.2em;
    color: #fff;
  }

  .opacity-50{
    opacity: 0.5;
  }

  #nav-right {
    right: 0.5em;
  }

  #nav-left {
    left: 0.5em;
  }

  #nav-right i,
  #nav-left i {
    text-align: center;
    line-height: 3;
    margin-right: 0;
  }

  .images-wrapper {
    height: inherit;
    flex: 1;
    width: inherit;
    align-items: center;
    overflow: hidden;
    border-radius: 1em;
  }

  .event-img {
    width: 100%;
    flex: 1;
    cursor: zoom-in;
    transition: all 0.3s ease-in;
  }

  @media screen and (min-width: 465px) {
    .image-gallery {
      display: flex;
      overflow: hidden;
      height: 250px;
    }

    .images-wrapper {
      display: flex;
      overflow: hidden;
    }
  }
</style>

<body>
  <main id="main">
    <section id="menu-bar" class="hide folded">
      <div id="user-intro-wrapper" class="user-intro-wrapper">
        <div id="user-img" class="user-img"></div>
        <p id="user-name" class="user-name">Bruce Wayne</p>
        <div id="notification-wrapper" class="notification-wrapper">
          <p id="user-profession" class="user-profession">Super Admin</p>
          <i class="fas fa-bell"><span id="num-of-notification">5</span></i>
        </div>
      </div>
      <div id="menu-items-wrapper">
        <div id="menu-items-section">
          <ul id="features">
            <li><a href="/me/dashboard"><i class="fas fa-tachometer-alt"></i><span class="hide">Dashboard</span></a></li>
            <li><a href="/me/events"><i class="fas fa-clock"></i><span  class="hide">Events</span></a></li>
            <li><a href="/me/users"><i class="fas fa-user-tie"></i><span  class="hide">Users</span></a></li>
            <li><a href="/me/activity"><i class="fas fa-chart-line"></i><span  class="hide">My activity</span></a></li>
            <!-- <li><i class="fas fa-tasks"></i><span>Tasks</span></li> -->
            <!-- <li><i class="fas fa-star"></i><span>Appraisal</span></li> -->
            <!-- <li><i class="fas fa-poll"></i><span>Analytics</span></li> -->
          </ul>
          <ul id="settings">
            <li id="settings-btn"><i class="fas fa-cog"></i><span  class="hide">Settings</span></li>
            <li class="more-setting hide"><a href="/me/updateProfile">Update Profile</a></li>
            <li class="more-setting hide">Change password</li>
            <li><form action="" method="post"><i class="fas fa-sign-out-alt"></i><span  class="hide">Log out</span></form></li>
          </ul>
          <div id="expand-menu"><i class="fas fa-angle-double-right"></i></div>
        </div>

      </div>
    </section>

    <section id="main-section">
      <i id="menu-icon" class="fas fa-bars ml-0"></i>
      <div class="menu-icon-trail-bar block"></div>
      <!-- <header class="feature-header">Events</header> -->
      <div id="feature-content">
        <div class="card" id="events">
          <div class="header-and-control">
            <header class="card-header ">Deno is the new Node
              <div id="event-actions"><span class="fa fa-edit"></span><span class="fa fa-trash"></span></div>
              <div class="card-action">
                <div class="tags"><span>Design</span> <span>Ladies</span> <span>Conference</span> <span>Africa</span>
                </div>
                <span class="filter-title">200 comments || Published on 13-07-2020</span>

              </div>
            </header>
          </div>
          <div class="content" id="events-content">
            <div class="event-wrapper">
              <div class="event-banner-img"></div>
              <p class="event-name">About the meetup</p>
              <p class="event-description">The event is the third to be hosted this Lorem ipsium of the time Lorem
                ipsum
                dolor sit amet consectetur adipisicing elit. Praesentium, eos voluptas corrupti aperiam velit optio
                nemo
                placeat rem exercitationem possimus. </p>
              <br />
              <p class="event-name">Key points of the meetup</p>
              <ul class="event-points">
                <li>Introduce you to DENO</li>
                <li>The confusing arising from the birth of Deno: is it replacing Node?</li>
                <li>The best practises of Deno</li>
                <li>Ways to contribute to deno </li>
                <li>Meet the team</li>
              </ul>
              <br />
              <div class="image-gallery">
                <div id="nav-left" class="opacity-50"><i class="fas fa-angle-left"></i></div>
                <div class="images-wrapper">
                  <img src="avatar.jpg" alt="" class="event-img first-img">
                  <img src="Telecommuting.gif" alt="" class="event-img">
                  <img src="avatar.jpg" alt="" class="event-img">
                  <img src="batman.jpg" alt="" class="event-img">
                </div>
                <div id="nav-right"><i class="fas fa-angle-right"></i></div>
              </div>

              <p class="event-name">Date & Time</p>
              <p>The Deno evrnatur fugit dolorem? Explicabo.</p>
              <p class="event-name">Venue</p>
              <p>The Deno evrnatur fugit dolorem? Explicabo.The Deno evrnatur fugit dolorem? Explicabo.</p>
              <br>
              <p class="event-name">How to get in</p>
              <p>Requirement is simple. get a gate pass from Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Delectus, iure!</p>
            </div>
          </div>

          <div class="event-comments-section">
            <header>Comments</header>
            <div class="comments-section">
              <div class="user-comment">
                <div class="user">
                  <div class="user-img">JD</div>
                  <h4 class="username">John Doe</h4>
                </div>
                <p>Hello, So i need to know, does this event cover those that are not going to be there in physical?
                  I really want to participate but cant be there.</p>
                <div class="votes-reply-section">
                  <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                      class="num-of-votes">10</span> <a href="">
                      <span class="fa fa-caret-down"></span></a> </div>
                  <p class="toggle-replies">3 Replies</p>
                  <p class="reply-user">REPLY</p>
                </div>

                <div class="user-response-section close">
                  <div class="reply">
                    <h5 class="replier-name">Peter Smith</h5>
                    <p>I think there woud be a link to a video coverage for those that wont be there physically</p>
                    <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                        class="num-of-votes">1</span> <a href="">
                        <span class="fa fa-caret-down"></span></a> </div>
                  </div>
                  <div class="reply">
                    <h5 class="replier-name">Mary Smith</h5>
                    <p>I think there woud be a link to a video coverage for those that wont be there physically</p>
                    <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                        class="num-of-votes">0</span> <a href="">
                        <span class="fa fa-caret-down"></span></a> </div>
                  </div>
                  <div class="reply">
                    <h5 class="replier-name">Peter Baelish</h5>
                    <p>I think there woud be a link to a video coverage for those that wont be there physically</p>
                    <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                        class="num-of-votes">-1</span> <a href="">
                        <span class="fa fa-caret-down"></span></a> </div>
                  </div>
                </div>
              </div>
              <div class="comment-divider">
                <hr>
              </div>
              <div class="user-comment">
                <div class="user">
                  <div class="user-img">JD</div>
                  <h4 class="username">John Diggles</h4>
                </div>
                <p>Thanks for hosting this event. Please how can i get to Stadium road from Aba? Anybody?</p>
                <div class="votes-reply-section">
                  <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                      class="num-of-votes">3</span> <a href="">
                      <span class="fa fa-caret-down"></span></a> </div>
                  <p class="toggle-replies">3 Replies</p>
                  <p class="reply-user">REPLY</p>
                </div>

                <div class="user-response-section close">
                  <div class="reply">
                    <h5 class="replier-name">Peter Johnson</h5>
                    <p>Where exactly in Aba, so i can give a better direction</p>
                    <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                        class="num-of-votes">1</span> <a href="">
                        <span class="fa fa-caret-down"></span></a> </div>
                  </div>
                  <div class="reply">
                    <h5 class="replier-name">John Diggles</h5>
                    <p>I am coming from Faulks road area in Aba. Thanks for reaching out Johnson.</p>
                    <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                        class="num-of-votes">0</span> <a href="">
                        <span class="fa fa-caret-down"></span></a> </div>
                  </div>
                  <div class="reply">
                    <h5 class="replier-name">Peter Baelish</h5>
                    <p>You can try the Google map. I think its updated to navigate you down to Stadium road in PH</p>
                    <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                        class="num-of-votes">-1</span> <a href="">
                        <span class="fa fa-caret-down"></span></a> </div>
                  </div>
                </div>
              </div>
              <div class="comment-divider">
                <hr>
              </div>

              <div class="user-comment">
                <div class="user">
                  <div class="user-img">JD</div>
                  <h4 class="username">John Doe</h4>
                </div>
                <p>Hello, So i need to know, does this event cover those that are not going to be there in physical?
                  I really want to participate but cant be there.</p>
                <div class="votes-reply-section">
                  <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                      class="num-of-votes">10</span> <a href="">
                      <span class="fa fa-caret-down"></span></a> </div>
                  <p class="toggle-replies">3 Replies</p>
                  <p class="reply-user">REPLY</p>
                </div>

                <div class="user-response-section close">
                  <div class="reply">
                    <h5 class="replier-name">Peter Smith</h5>
                    <p>I think there woud be a link to a video coverage for those that wont be there physically</p>
                    <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                        class="num-of-votes">1</span> <a href="">
                        <span class="fa fa-caret-down"></span></a> </div>
                  </div>
                  <div class="reply">
                    <h5 class="replier-name">Mary Smith</h5>
                    <p>I think there woud be a link to a video coverage for those that wont be there physically</p>
                    <div class="votes"><a href=""> <span class="fa fa-caret-up"></span></a> <span
                        class="num-of-votes">0</span> <a href="">
                        <span class="fa fa-caret-down"></span></a> </div>
                  </div>
                  <div class="reply">
                    <h5 class="replier-name">Peter Baelish</h5>
                    <p>I think there woud be a link to a video coverage for those that wont be there physically</p>
                    <div class="votes"><a href=""> <span>Upvote</span></a> <span class="num-of-votes">-1</span> <a
                        href="">
                        <span>Downvote</span></a> </div>
                  </div>
                </div>
              </div>
              <div class="comment-divider">
                <hr>
              </div>
            </div>
            <div class="post-comment">
              <header>Post a comment</header>
              <div class="comment-form">
                <p class="post-condition">You must be logged in to post or reply to a comment</p>
                <p>Click <a href="">Login</a> to get into your account or <a href="">Sign up</a> to create a new account
                </p>
                <form action="">
                  <textarea name="" id="" cols="30" rows="10"></textarea>
                  <button type="submit" class="post-btn">Post</button>

                </form>
              </div>
            </div>
          </div>
          <!-- <a href="#" class="more-btn"> More </a> -->
        </div>
      </div>
    </section>
    <div class="reply-modal-wrapper hidden">
      <span class="fa fa-times"></span>
      <div class="reply-modal">

        <div class="reply-form">
          <div class="user">
            <div class="user-img has-content asker-img"></div>
            <h4 class="username has-content asker-name"></h4>
          </div>
          <p class="has-content asker-question"></p>
          <br>
          <p><b>Your Message:</b></p>
          <form action="">
            <textarea name="" id="" cols="30" rows="10" placeholder="Type your reply message here"
              class="has-content replier-message"></textarea>
            <button type="submit" class="post-btn ">Reply</button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <script src="/js/dashboard.js"></script>
  <script>
    let replyUserBtns = document.querySelectorAll('.reply-user');
    replyUserBtns = [...replyUserBtns];
    const replyUserModal = document.querySelector('.reply-modal-wrapper');
    const replyUserModalCloseBtn = document.querySelector('.reply-modal-wrapper .fa-times');
    let replyModalcontents = document.querySelectorAll('.has-content');
    replyModalcontents = [...replyModalcontents];

    let askerName = document.querySelector('.asker-name');
    let askerImg = document.querySelector('.asker-img');
    let askerQuestion = document.querySelector('.asker-question');
    let replierMessage = document.querySelector('.replier-message');

    replyUserBtns.forEach(replyBtn => replyBtn.addEventListener('click', displayReplyModal));
    replyUserModalCloseBtn.addEventListener('click', displayReplyModal);

    function displayReplyModal() {
      switch (replyUserModal.classList.contains('shown')) {
        case true:
          replyUserModal.classList.replace('shown', 'hidden');
          replyModalcontents.forEach(content => {
            if (content.tagName == 'TEXTAREA') {
              content.value = ''
            } else {
              content.innerHTML = ''
            }
          })
          break;
        case false:
          askerImg.innerText = this.parentElement.parentElement.children[0].children[0].innerText;
          askerName.innerText = this.parentElement.parentElement.children[0].children[1].innerText;
          askerQuestion.innerText = this.parentElement.parentElement.children[1].innerText
          replyUserModal.classList.replace('hidden', 'shown');
          break;
        default:
          replyUserModal.classList.replace('shown', 'hidden');
          replyModalcontents.forEach(content => {
            if (content.tagName == 'TEXTAREA') {
              content.value = ''
            } else {
              content.innerHTML = ''
            }
          })
          break;
      }
    }

    const navImgLeft = document.getElementById('nav-left');
    const navImgRight = document.getElementById('nav-right');
    navImgLeft.addEventListener('click', moveImages);
    navImgRight.addEventListener('click', moveImages);
    const firstImage = document.querySelector('.first-img');


    function moveImages() {
      switch (this.id == 'nav-right') {
        case true:
          if (firstImage.style.marginLeft !== '-300%') {
            firstImage.style.marginLeft = `${Number(firstImage.style.marginLeft.replace('%','')) - 100}%`;
            this.classList.remove('opacity-50');
            navImgLeft.classList.remove('opacity-50');       
          }
          if(firstImage.style.marginLeft == '-300%') this.classList.add('opacity-50');
          break;
        case false:
          if (firstImage.style.marginLeft !== '' && firstImage.style.marginLeft !== '0%') {         
            firstImage.style.marginLeft = `${Number(firstImage.style.marginLeft.replace('%','')) + 100}%`;
            this.classList.remove('opacity-50');
            navImgRight.classList.remove('opacity-50');
          }
          if(firstImage.style.marginLeft == '0%') this.classList.add('opacity-50');        
          break;
        default:
          break;
      }
    }
  </script>
</body>

</html>