<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link
        href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Poppins:wght@200;400;500;700&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/c61f07fccb.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/index.css">
    <title>Questioner | Login</title>
 </head>

<body>
    <header id="header">
        <nav class="nav">
            <a href="/login" id="login-link">Log In</a>
            <a href="/signUp" id="signup-link">Sign Up</a>
        </nav>
        <div id="banner-content">
            <h1>Welcome to <br><span id="app-name">Questioner</span></h1>
            <p>Put your upcoming events where people can see and be part of.</p>
            <input type="button" value="Learn more" class="learn-more">
            <p class="hidden-text">Questioner&trade; is a platform for advertising your upcoming events, manage and get
                people talking about it.</p>
        </div>
    </header>
    <% if(errors || msg){ %>       
      <% if(error.param == 'password' || error.param == 'email' || msg){ %> 
          <style>
            #password-wrapper ,#email-wrapper{border: 1px solid red;}
            #password-wrapper i,#email-wrapper i {background-color: red;}
            #error-msg { display: block;}
          </style>   
      <% } %> 
    <% } %> 
    <main id="main">
        <section class="section" id="login-signup-section">
            <div id="logo">
                <p>Q</p>
            </div>
           
            <div class="login-signup" id="login-section">
                <h2>Log In</h2>
                <p id="error-msg">Email or password is invalid</p>
                <div class="input-wrapper"><label for="fullname">Email</label><i class="fas fa-envelope"></i><input
                        type="email" name="email" id="email" placeholder="Email"></div>
                <div class="input-wrapper"><label for="fullname">Password</label><i class="fas fa-lock"></i><input
                        type="password" name="password" id="password" placeholder="Password"></div>
                <button id="signin-btn">Login In</button>
                <p>Don't have an account? <a href="/signUp"> Sign Up</a></p>
            </div>
            <div><span>Create</span> | <span>Manage</span> | <span>Make it happen</span> </div>
        </section>

    </main>
   
   
</body>

</html>