<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link
        href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Poppins:wght@200;400;500;700&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/c61f07fccb.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/index.css">
    <title>Questioner | Login</title>
 </head>

<body>
    <header id="header">
        <nav class="nav">
            <a href="/login" id="login-link">Log In</a>
            <a href="/signUp" id="signup-link">Sign Up</a>
        </nav>
        <div id="banner-content">
            <h1>Welcome to <br><span id="app-name">Questioner</span></h1>
            <p>Put your upcoming events where people can see and be part of.</p>
            <input type="button" value="Learn more" id="learn-more">
            <p class="hidden-text">Questioner&trade; is a platform for advertising your upcoming events, manage and get
                people talking about it.</p>
        </div>
    </header>
    <% if(errors || msg){ %>       
      <% if(error.param == 'password' || error.param == 'email' || msg){ %> 
          <style>
            #password-wrapper ,#email-wrapper{border: 1px solid red;}
            #password-wrapper i,#email-wrapper i {background-color: red;}
            #error-msg { display: block;}
          </style>   
      <% } %> 
    <% } %> 
    <main id="main">
        <section class="section" id="login-signup-section">
        
            <div id="questioner">
              <p><a href="/">Q</a></p>
            </div>
           
            <div class="login-signup" id="login-section">
                <h2>Log In</h2>
                <p id="error-msg">Email or password is invalid</p>
                <div class="input-wrapper"><label for="fullname">Email</label><i class="fas fa-envelope"></i><input
                        type="email" name="email" id="email" placeholder="Email"></div>
                <div class="input-wrapper"><label for="fullname">Password</label><i class="fas fa-lock"></i><input
                        type="password" name="password" id="password" placeholder="Password"></div>
                <button id="signin-btn">Login In</button>
                <div class="divider">
                  <hr>
                  <div>OR</div>
                  <hr>
              </div>
              <button id="google-signup"><i class="fab fa-google"></i> &nbsp;&nbsp;&nbsp;Login with Google</button>

                <p>Don't have an account? <a href="/signUp"> Sign Up</a></p>
            </div>
       
        </section>

    </main>
   <!-- <footer><a href="/privacyPolicy">Privacy Policy</a></footer> -->
   
</body>

</html>