<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
    href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Poppins:wght@200;400;500;700&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/c61f07fccb.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/index.css">
  <title>Questioner | Confirmation</title>
</head>

<body>
<style>
  @media screen and (max-width: 540px) {
    #resend-link-btn{
      max-width: 80%;
    }
  }
  @media screen and (min-width: 541px) {
    #resend-link-btn{
      max-width: 400px;
    }
  }
</style>

  <main id="main">
    <section class="section" id="login-signup-section">
      <div id="logo">
        <p>Q</p>
      </div>
      <div class="login-signup" id="signup-section">
        <h2>Verification sent again</h2>
        <p>The verification link has been sent to your mailbox again. If not in your inbox, check in spam box.</p>

        <br />
        <br />
        <br />
      </div>
      <div><span>Create</span> | <span>Manage</span> | <span>Make it happen</span> </div>
    </section>

  </main>

</body>

</html>